<style>
      *{
  font-family: calibri;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}
#wenexus-popular-categories{
  background: #f3f5f6;
  padding: 50px 20px;
}
#wenexus-popular-categories h1{
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}
.wenexus-slider-container{
  width: 95%;
  margin: 0 auto;
}
.wenexus-img-wrapper{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: #e7ebee;
}
.wenexus-img-wrapper img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  /*border-radius: 100%;*/
  text-align: center;
  padding: 20px;
}
.wenexus-single-item{
  width: 200px;
}
.wenexus-single-item .wenexus-item-name{
  padding-top: 20px;
  width: 160px;
  text-align: center;
  display: inline-block;
}
.wenexus-item-link{
  padding: 0 20px;
}
.wenexus-item-name {
  text-decoration: none;
  font-size: 20px;
  position: relative;
  color: #1e2d7d;
}

.wenexus-view-all{
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
}
.wenexus-view-all:hover{
  text-decoration: underline;
}
.wenexus-img-wrapper:hover img{
  transform: scale(1.03);
}
.wenexus-img-wrapper img{
  transition-property: transform;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  /*transition-delay: 1s;*/
}
.wenexus-single-item:hover .wenexus-item-name{
  color: blue;
  transform: translateX(-14px);
    transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wenexus-single-item i{
  display: none;
  position: absolute;
  top: 53.5%;
  width: 5px; 
  /*
  padding-left: 2px;
  transition-duration: 5s;
  transition-property: transform; 
  transition-timing-function: ease-in-out;*/
}

.wenexus-single-item:hover i{
  color: blue;
  display: inline-block;
  transform: translateX(10px);
  transition: all .3s !important;
}
/*.flickity-button{
  background: #87CEEB !important;
  display: none;
   transition-property: transform;
   transition-duration: .3s;
   transition-timing-function: ease-in;
}*/
.flickity-prev-next-button{
  /*width: 0;*/
  background: #87CEEB !important;
  /*opacity: 0;*/
}
.flickity-prev-next-button .flickity-button-icon .arrow {
    fill: #000000 !important;
}
.flickity-prev-next-button{
  position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    border-radius: 100%;
    visibility: visible;
    background: var(--flickity-arrow-color);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.7);
    z-index: 1;
    
}
.flickity-prev-next-button[disabled]{
  visibility: hidden;
  opacity: 0;
}
.wenexus-slider-container:hover .flickity-prev-next-button {
  opacity: 1;
  /*transform: scale(1);*/
}
.flickity-button:hover {
  background: lightblue !important;
}
  </style>
  <section id="wenexus-popular-categories">
    <h1>{{ section.settings.title }}</h1>
     <div class="wenexus-slider-container main-carousel">
	{% for block in section.blocks %} 
      <a href="{{block.settings.pro-url}}" class="wenexus-item-link">
        <div class="wenexus-single-item">
          <div class="wenexus-img-wrapper">
            <img src="{{ block.settings.pro-img | img_url: '1920x' }}">
          </div>
          <a href="#" class="wenexus-item-name">{{block.settings.pro-name}}</a> 
        </div>
      </a>
	{% endfor %}
     </div>
     <a href="#" class="wenexus-view-all">{{section.settings.view-all-url}}</a>
  </section>
  <!-- jquery -->
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script>
    
    var elem = document.querySelector('.main-carousel');
    var flkty = new Flickity( elem, {
    // options
    cellAlign: 'left',
    contain: true,
    pageDots: false,
    groupCells: true,
    draggable: false
      });
  </script>

{% schema %}
  {
    "name": "Slider",
    "settings": [
		{
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Popular Categories"
      	},
		{
          "type": "url",
          "id": "view-all-url",
          "label": "view All Url"
      	}

	],
	"blocks": [
      {
        "type": "text",
        "name": "Single Product",
        "settings": [
          {
            "type": "text",
            "id": "pro-name",
            "label": "Product Title"
          },
          {
            "type": "url",
            "id": "pro-url",
            "label": "Product Link"
          },
          {
            "type": "image_picker",
            "id": "pro-img",
            "label": "Product Image"
          }
        ]
      } 		
    ],

    "presets": [{
    "name": "Featured collection",
    "category": "Slider"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
